/* Color Pallet: 
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #FAF0CA;
}

blockquote h1 {
    text-align: center;
    color: #0D3B66;
    font-size: 150%;
}

/* Nav */
nav ul {
    text-decoration: none;
    font-size: 155%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #F4D35E;
}

nav ul li a:hover {
    text-decoration: line-through;
    text-align: center;
    color: #0D3B66;
}
/* end nav */
/* Footer nav */

.fnav nav ul {
    text-decoration: none;
    font-size: 155%;
    text-align: center;
}

.fnav nav ul li {
    display: inline-block;
    text-align: center;
}

.fnav nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #F4D35E;
}

.fnav nav ul li a:hover {
    text-decoration: line-through;
    text-align: center;
    color: #0D3B66;
}
/*end footernav */