/* Color Pallet: 
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

blockquote {
    text-align: center;
    font-size: 25%;
}

nav ul {
    list-style-type: none;
    font-size: 15%;
}

nav li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #0D3B66;
}